.todolist-container{
    width: 50rem;
    height: 30rem;
}
.title{
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.input-container{
    margin: 0rem 0rem 2rem 0rem;
    display: flex;
    justify-content: center;
}
.input-field{
    width: 30rem;
    height: 2rem;
    margin: 0rem 2rem 0rem 0rem;
    padding: 0px 0px 0px 10px;
}
.button-field{
    padding: 10px;
}
.display-list{
    display: flex;
    gap: 31rem;
    margin: 0rem 0rem 1rem 0rem;
}
.result-div{
    display: flex;
    justify-content: center;
}
.result-value{
    display: flex;
    gap: 32px;
}